<div class="fedex-signup__container">
  <h1>{{ title }}</h1>
  
  <div *ngIf="isLoading$ | async">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <h3 *ngIf="(isLoading$ | async) === false && (feedbackMessage$ | async)?.length" class="fedex-signup__feedback">
    {{ feedbackMessage$ | async }}
  </h3>

  <form
    #signUpformReference="ngForm"
    [formGroup]="signupForm"
    (ngSubmit)="signup()"
    class="fedex-signup__form"
  >
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input
        matInput
        [name]="FormControlsEnum.FirstName"
        placeholder="First Name"
        [formControlName]="FormControlsEnum.FirstName"
        required
      />
      <mat-error *ngIf="signupForm.controls[FormControlsEnum.FirstName].errors?.['required']"
        >First name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        [name]="FormControlsEnum.LastName"
        placeholder="Last Name"
        [formControlName]="FormControlsEnum.LastName"
        required
      />
      <mat-error *ngIf="signupForm.controls[FormControlsEnum.LastName].errors?.['required']"
        >Last name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        [name]="FormControlsEnum.Email"
        placeholder="Email"
        [formControlName]="FormControlsEnum.Email"
        required
      />
      <mat-error *ngIf="signupForm.controls[FormControlsEnum.Email].errors?.['required']"
        >Email is required</mat-error
      >
      <mat-error
        *ngIf="signupForm.controls[FormControlsEnum.Email].errors?.['email']"
        id="emailInvalidError"
        >Email is invalid</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="(showPassword$ | async) ? 'text' : 'password'"
        [name]="FormControlsEnum.Password"
        placeholder="Password"
        [formControlName]="FormControlsEnum.Password"
        required
        minlength="8"
      />
      <!-- Confirm password field is typically used to include when creating a password. This is because a password field masks the user’s input. 
        If users mistype their password, they won’t recognize it. The confirm password catches typos by prompting users to type their password twice.
        While the confirm password field seems sensible, including it can lower your conversion rate. 
        Many research studies found that the confirm password field was responsible for over a quarter of all users that abandoned their sign up form.
        It was also responsible for hundreds of user corrections, including field refocuses and deletes.
        
       Hence, password field with maskingunmasking feature is preferred over confirm password-->
      <mat-icon matSuffix (click)="togglePasswordVisibility()"
        >visibility</mat-icon
      >
      <mat-error *ngIf="signupForm.controls[FormControlsEnum.Password].errors?.['required']"
        >Password is required</mat-error
      >
      <mat-error
        *ngIf="!signupForm.controls[FormControlsEnum.Password].errors?.['required'] && signupForm.controls[FormControlsEnum.Password].errors?.['minlength']"
        id="passwordLessThanMinimumLetters"
        >Password must be minimum 8 characters</mat-error
      >
      <mat-error
        *ngIf="!signupForm.controls[FormControlsEnum.Password].errors?.['required']
        && signupForm.controls[FormControlsEnum.Password].errors?.['lowerCaseUpperCaseLetters']"
        id="passwordWithLowerCaseUppercase"
        >Password must contain at least 1 upper case letter, 1 lower case
        letter. Ex: HelloWorld</mat-error
      >
      <mat-error
        *ngIf="!signupForm.controls[FormControlsEnum.Password].errors?.['required'] && signupForm.controls[FormControlsEnum.Password].errors?.['invalidPassword']"
        id="passwordWithFirstOrLastName"
        >Password must not contain first name or last name</mat-error
      >
    </mat-form-field>
    <div>
      <button
        [disabled]="isLoading$ | async"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Sign up
      </button>
    </div>
  </form>
</div>
