.fedex-signup {
  &__container {
    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .mat-form-field {
      display: block;
      // width: 70%;
      padding-bottom: 10px;
    }
    button {
      margin-left: 10px;
    }
  }
}
