.fedex-signup {
  &__container {
    h1 {
      color: #673ab7;
      text-align: center;
    }
  }
  &__feedback {
    color: #de002e;
    font-weight: bold;
    text-align: center;
  }
  &__form {
    .mat-form-field {
      display: block;
      padding-bottom: 10px;
    }
    button {
      margin-top: 10px;
    }
  }
}
